streamlit==1.30.0
networkx==3.2.1
tiktoken==0.5.2
backoff==2.2.1 certifi-2024.2.2 chardet-5.2.0 charset-normalizer-3.3.2 dataclasses-json-speakeasy-0.5.11 emoji-2.10.1 filetype-1.2.0 idna-3.6 jsonpath-python-1.0.6 langdetect-1.0.9 python-iso639-2024.1.2 python-magic-0.4.27 rapidfuzz-3.6.1 unstructured-0.12.3 unstructured-client-0.17.0 urllib3-2.2.0